div {
    padding: 20px;
    padding-bottom: 50px;
    background: #f4f4f4;
    margin: auto;
    width: 45%;
}

.btnClear {
    border: none;
    background:  #f4f4f4;
    color: rgb(0, 183, 255);
    cursor: pointer;
    font-size: large;
    float: right;
    padding: 10px;
    margin-top: 5px;
}