.form {
    display: flex;
    width: 45%;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 15px;
}

.form input[type="text"] {
    flex: 10;
    padding: 8px;
    font-size: medium;
    font-family: 'Comfortaa', cursive;
}

.form input[type="submit"] {
    flex: 2;
    font-family: 'Comfortaa', cursive;
}