/* @import url('https://fonts.googleapis.com/css?family=Handlee&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Comfortaa', cursive;
    line-height: 1.4;
    background-image: linear-gradient(rgb(255, 17, 96), rgb(255, 32, 199));
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a {
    color: #333;
    text-decoration: none;
}

.container {
    padding: 0 1rem;
}

.btn {
    display: inline-block;
    border: none;
    background: white;
    color: rgb(0, 183, 255);
    cursor: pointer;
    font-weight: 700;
    font-size: large;
}
